body {
    background-color: rgb(132, 166, 218);
}

/* use these via bv. var(--example-var) */
:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
--sexy_font: Circular Std,sans-serif;
}