body {
    background-color: rgb(132, 166, 218);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--primary-color: #D96AA7;
--secondary-color: #422C73;
--complimentary-color: #88BFB5;
--contrast-color: #F2E527;
--light-color: #D2A9D9;
}

.container {
  background: #191919;
  min-height: 100vh;  
  font-family: Circular Std,sans-serif;
}

nav a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}

nav {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    background: var(--secondary-color);
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all ease-in .5s;
    display: flex;
    padding-top: 25px;
    justify-content: center;
    /*align-items: center;*/
} 

section h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    opacity: 0;
}

nav a:hover {
    color: black;
}

/* Styles applied on trigger */
section:target {
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

section:target h1 {
    opacity: 0;
    animation: 1s fadeIn forwards .5s;
    grid-area: header;
}

.grid_item {
    display: flex;
    justify-content: center;
    align-items: start;
}

#kamer1 {
    grid-area: kamer1;
}

#kamer2 {
    grid-area: kamer2;
}

#info_kamer1 {
    grid-area:info_kamer1;
}

#info_kamer2 {
    grid-area:info_kamer2;
}

#kamers_section {
    display:grid;
    grid-template-columns: 10% 30% 30% 30%;
    grid-template-rows: 10% 10% 80%;
    grid-template-areas:
    ". . header ."
    ". kamer1 . kamer2"
    ". info_kamer1 . info_kamer2"
}

#kamers_section {
  background:var(--primary-color);
}
#weer_section {
    background: var(--complimentary-color);
}

#third {
    background: var(--contrast-color);
}

#fourth {
    background: var(--light-color);
}

@keyframes fadeIn {
    100% { opacity:1 }
}

/* laptop */
@media screen and (max-width: 1440px) {
    nav a img {
        width: 80px;
        height: 80px;
    }
    
    nav a {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        text-align: center;
    }

    #kamers_section {
        background:var(--complimentary-color);
      }

    #kamers_section {
        display:grid;
        grid-template-columns: 30px 170px 170px 170px;
        grid-template-rows: 10% 10% 80%;
        grid-template-areas:
        ". . header ."
        ". kamer1 . kamer2"
        ". info_kamer1 . info_kamer2"
    }

    #kamer1 {
        grid-area: kamer1;
    }
    
    #kamer2 {
        grid-area: kamer2;
    }
    
    #info_kamer1 {
        grid-area:info_kamer1;
    }
    
    #info_kamer2 {
        grid-area:info_kamer2;
    }

    section:target h1 {
        opacity: 0;
        animation: 1s fadeIn forwards .5s;
        grid-area: header;
    }
}

@media screen and (max-width: 670px) {
    nav a img {
        width: 50px;
        height: 50px;
    }
    nav a {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        text-align: center;
    }

    #kamers_section {
        background:var(--contrast-color);
      }

    #kamers_section {
        display:grid;
        grid-template-columns: 13% 29% 29% 29%;
        grid-template-rows: 10% 10% 80%;
        grid-template-areas:
        ". . header ."
        ". kamer1 . kamer2"
        ". info_kamer1 . info_kamer2"
    }

    #kamer1 {
        grid-area: kamer1;
    }
    
    #kamer2 {
        grid-area: kamer2;
    }
    
    #info_kamer1 {
        grid-area:info_kamer1;
    }
    
    #info_kamer2 {
        grid-area:info_kamer2;
    }

    section:target h1 {
        opacity: 0;
        animation: 1s fadeIn forwards .5s;
        grid-area: header;
    }
}